{{!-- style="left: 222px; bottom: 15px; position: fixed; text-align: center; color: #f0f0e0; border: 1px solid #000; border-radius: 2px; background: rgba(0, 0, 0, 0.5);  -webkit-box-shadow: 0 0 5px #000 inset;  box-shadow: 0 0 5px #000 inset;  border-radius: 5px;  font-size: 23px;  padding-left: 10px;  padding-right: 10px;" --}}

<div class="global-resource-box">
    <div class="resource-listing group-resources">
      <div class="resource-item d-flex flex-between">
          <div class="resource-label">{{localize "TC.Labels.Atmosphere"}}:</div><span class="atmosphere-flex">{{groupResources.atmosphere}}</span>
          <div class="resource-controls">
            <span data-type="atmosphere" class="minus resource-button">-</span>
            <span data-type="atmosphere" class="plus resource-button">+</span>
          </div>
      </div>
      <div class="resource-item d-flex flex-between">
          <div class="resource-label">{{localize "TC.Labels.Collateral"}}: {{groupResources.collateral}}
          </div>
          <div class="resource-controls">
            <span data-type="collateral" class="minus resource-button">-</span>
            <span data-type="collateral" class="plus resource-button">+</span>
          </div>
      </div>
      <div class="resource-item d-flex flex-between">
          <div class="resource-label">{{localize "TC.Labels.Momentum"}}: {{groupResources.momentum}}
          </div>
          <div class="resource-controls">
            <span data-type="momentum" class="minus resource-button">-</span>
            <span data-type="momentum" class="plus resource-button">+</span>
          </div>
      </div>
    </div>
    <div class="setting-control setting-button group-resources">
      Group<br>Resources
    </div>
</div>