<div>
    <div>
        <h3>Experience</h3>
        <div class="xp-row">
            <div class="xp-spent">Spent</div>
            <div class="xp-current">Current Remaining</div>
            <div class="xp-total">Total Earned</div>
        </div>
        <div class="xp-row">
            <div><input class="xp-spent text-3digit" type=text name="system.experience.spent" value="{{system.experience.spent}}"/></div>
            <div><input class="xp-current text-3digit" type=text name="system.experience.current" value="{{system.experience.current}}" readonly/></div>
            <div><input class="xp-total text-3digit" type=text name="system.experience.total" value="{{system.experience.total}}"/></div>
        </div>
    </div>
    <h3 class="added-segment">Background</h3>
    <div>
        <label class="" for"system.templates.concept">{{localize "TRINITY_SECOND.SheetLabels.Concept"}}</label>
        <input class="" type="text" name="system.templates.concept" value="{{system.templates.concept}}" data-dtype="String"/>
    </div>
    <div class="">
        <label class="" for"system.templates.momentofinsp">{{localize "TRINITY_SECOND.SheetLabels.Momentofinsp"}}</label>
        <input class="" type="text" name="system.templates.momentofinsp" value="{{system.templates.momentofinsp}}" data-dtype="String"/>
    </div>
    <div class="">
        <label class="" for"system.templates.biography">{{localize "TRINITY_SECOND.SheetLabels.Biography"}}</label>
        <textarea class="" rows="10" name="system.templates.biography" data-dtype="String"/>{{system.templates.biography}}</textarea>
    </div>
    <div class="">
        <label class="" for"system.templates.aspirations">{{localize "TRINITY_SECOND.SheetLabels.Aspirations"}}</label>
        <textarea class="" rows="10" name="system.templates.aspirations" data-dtype="String"/>{{system.templates.aspirations}}</textarea>
    </div>
</div>