<div>
    <div class="stat-detail-row">
        <div class="resource-label">XP Spent</div>
        <input class="text-3digit" type=text name="system.experience.spent" value="{{system.experience.spent}}"/>
        <div class="resource-label">XP Remaining</div>
        <input class="text-3digit" type=text name="system.experience.current" value="{{system.experience.current}}" readonly/>
        <div class="resource-label">Total XP Earned</div>
        <input class="text-3digit" type=text name="system.experience.total" value="{{system.experience.total}}"/>
    </div>
    <h3 class="nova-header added-segment">Background</h3>
    <div>
        <label class="" for"system.templates.concept">{{localize "TRINITY_SECOND.SheetLabels.Concept"}}</label>
        <input class="" type="text" name="system.templates.concept" value="{{system.templates.concept}}" data-dtype="String"/>
    </div>
    <div class="">
        <label class="" for"system.templates.momentofinsp">{{localize "TRINITY_SECOND.SheetLabels.Momentofinsp"}}</label>
        <input class="" type="text" name="system.templates.momentofinsp" value="{{system.templates.momentofinsp}}" data-dtype="String"/>
    </div>
    <div class="">
        <label class="" for"system.templates.biography">{{localize "TRINITY_SECOND.SheetLabels.Biography"}}</label>
        <textarea class="" rows="10" name="system.templates.biography" data-dtype="String"/>{{system.templates.biography}}</textarea>
    </div>
    <div class="">
        <label class="" for"system.templates.aspirations">{{localize "TRINITY_SECOND.SheetLabels.Aspirations"}}</label>
        <textarea class="" rows="10" name="system.templates.aspirations" data-dtype="String"/>{{system.templates.aspirations}}</textarea>
    </div>
</div>