<div>
    <div class="stat-detail-row">
        <div class="resource-label">{{localize "TC.SheetLabels.Xpspent"}}</div>
        <input class="text-3digit" type=text name="system.experience.spent" value="{{system.experience.spent}}"/>
        <div class="resource-label">{{localize "TC.SheetLabels.Xpremaining"}}</div>
        <input class="text-3digit" type=text name="system.experience.current" value="{{system.experience.current}}" readonly/>
        <div class="resource-label">{{localize "TC.SheetLabels.Xptotal"}}</div>
        <input class="text-3digit" type=text name="system.experience.total" value="{{system.experience.total}}"/>
    </div>
    <h3 class="style-header added-segment">{{localize "TC.SheetLabels.Characterbackground"}}</h3>
    <div>
        <label class="" for"system.templates.concept">{{localize "TC.SheetLabels.Concept"}}</label>
        <input class="" type="text" name="system.templates.concept" value="{{system.templates.concept}}" data-dtype="String"/>
    </div>
    <div class="">
        <label class="" for"system.templates.momentofinsp">{{localize "TC.SheetLabels.Momentofinsp"}}</label>
        <input class="" type="text" name="system.templates.momentofinsp" value="{{system.templates.momentofinsp}}" data-dtype="String"/>
    </div>
    <div class="">
        <label class="" for"system.templates.biography">{{localize "TC.SheetLabels.Biography"}}</label>
        <textarea class="" rows="10" name="system.templates.biography" data-dtype="String"/>{{system.templates.biography}}</textarea>
    </div>
    <div class="">
        <label class="" for"system.templates.aspirations">{{localize "TC.SheetLabels.Aspirations"}}</label>
        <textarea class="" rows="10" name="system.templates.aspirations" data-dtype="String"/>{{system.templates.aspirations}}</textarea>
    </div>
</div>