
  <div class="setting-button power-button"><label>Power<br>Settings</label></div>
  <div class="power-settings">
    <h3>Power Suites</h3>
    <div class="suite-row">
      <div class="suite-label">Core</div>
      <label class="suite-name">Name: </label>
      <input class="suite-text" type="text" name="system.powersuite.none" value="{{system.powersuite.none}}" data-dtype="String"/>
    </div>
    <div class="suite-row">
      <div class="suite-label">1st</div>
      <label class="suite-name">Name: </label>
      <input class="suite-text" type="text" name="system.powersuite.one" value="{{system.powersuite.one}}" data-dtype="String"/>
    </div>
    <div class="suite-row">
      <div class="suite-label">2nd</div>
      <label class="suite-name">Name: </label>
      <input class="suite-text" type="text" name="system.powersuite.two" value="{{system.powersuite.two}}" data-dtype="String"/>
    </div>
    <div class="suite-row">
      <div class="suite-label">3rd</div>
      <label class="suite-name">Name: </label>
      <input class="suite-text" type="text" name="system.powersuite.three" value="{{system.powersuite.three}}" data-dtype="String"/>
    </div>
  </div>

{{#each quantumpower as |quantumpower suite|}}
  <ol class='items-list power-suite{{suite}}'>
    <li class='item flexrow items-header'>
      <div class='item-name'>
        
        {{!--I couldn't figure out how to make handlebars work with an array --}} 
        {{#if (eq suite '1')}}
          {{@root.system.powersuite.one}}
        {{/if}}
        {{#if (eq suite '2')}}
          {{@root.system.powersuite.two}}
        {{/if}}
        {{#if (eq suite '3')}}
          {{@root.system.powersuite.three}}
        {{/if}}
        {{#if (eq suite '0')}}
          {{@root.system.powersuite.none}}
        {{/if}}
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-create'
          title='{{localize "DOCUMENT.Create" type='Quantumpower'}}'
          data-type='quantumpower'
          data-suite='{{suite}}'
        >
          <i class='fas fa-plus'></i>
          {{localize 'DOCUMENT.New' type=''}}
        </a>
      </div>
    </li>
    {{#each quantumpower as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'><img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              /></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Edit" type='quantumpower'}}'
          >
            <i class='fas fa-edit'></i>
          </a>
          <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='quantumpower'}}'
          >
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </li>
    {{/each}}
  </ol>    
{{/each}}
