<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <input class="charname" name="system.codename" type="text" value="{{system.codename}}" placeholder="Alias"/>
      <div class="resource-section">

        {{!-- Health --}}
        <section class="health-section">
            <div class="flex-group-center">
                <h3 class="nova-header">{{localize "TRINITY_SECOND.SheetLabels.Health"}}</h3>
            </div>      
            <div class="health-row">
                <label class="health-label" for="system.health.bruised.filled">Bruised:</label>
                <div class="health-details">
                    <input class="health-input text-2digit" type="number" name="system.health.bruised.filled" value="{{system.health.bruised.filled}}" data-dtype="Number"/>
                    <span class="math-label"> / </span>
                    <input class="health-input text-2digit" type="number" name="system.health.bruised.quantity" value="{{system.health.bruised.quantity}}" data-dtype="Number"/>
                    <span class="mod-label"><strong>Mod:</strong> + <input class="health-input text-2digit" type="number" name="system.health.bruised.mod" value="{{system.health.bruised.mod}}" data-dtype="Number"/></span>
                </div>
            </div>
            <div class="health-row">
                <label class="health-label" for="system.health.injured.filled">Injured:</label>
                <div class="health-details">
                    <input class="health-input text-2digit" type="number" name="system.health.injured.filled" value="{{system.health.injured.filled}}" data-dtype="Number"/>
                    <span class="math-label"> / </span>
                    <input class="health-input text-2digit" type="number" name="system.health.injured.quantity" value="{{system.health.injured.quantity}}" data-dtype="Number"/>
                    <span class="mod-label"><strong>Mod:</strong> + <input class="health-input text-2digit" type="number" name="system.health.injured.mod" value="{{system.health.injured.mod}}" data-dtype="Number"/></span>
                </div>
            </div>
            <div class="health-row">
                <label class="health-label" for="system.health.maimed.filled">Maimed:</label>
                <div class="health-details">
                    <input class="text-2digit" type="number" name="system.health.maimed.filled" value="{{system.health.maimed.filled}}" data-dtype="Number"/>
                    <span class="math-label"> / </span>
                    <input class="text-2digit" type="number" name="system.health.maimed.quantity" value="{{system.health.maimed.quantity}}" data-dtype="Number"/>
                    <span class="mod-label"><strong>Mod:</strong> + <input class="health-input text-2digit" type="number" name="system.health.maimed.mod" value="{{system.health.maimed.mod}}" data-dtype="Number"/></span>
                </div>
            </div>
        </section>
        
        {{!-- Source(Quantum) and Nova Unique traits --}}
        <section class="source-section">
            <div class="flex-group-center">
                <h3 class="nova-header">{{localize "TRINITY_SECOND.SheetLabels.Novatrait"}}</h3>
            </div>
            <div class="source-column">
                <div class="source-row">
                    <div class="flexrow valign-center source-col1">
                        <label class="source-label source-element" for="system.traits.quantum.value">Quantum</label>
                        <input class="text-2digit source-element" type="text" name="system.traits.quantum.value" value="{{system.traits.quantum.value}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow valign-center source-col2">
                        <label class="source-label source-element" for="system.traits.quantumpoints.value">Quantum Points</label>
                        <input class="text-2digit source-element" type="text" name="system.traits.quantumpoints.value" value="{{system.traits.quantumpoints.value}}" data-dtype="Number"/>
                        <span class="math-label source-element"> / </span>
                        <input class="text-2digit source-element" size="4" type="text" name="system.traits.quantumpoints.max" value="{{system.traits.quantumpoints.max}}" data-dtype="Number" readonly/>
                    </div>
                </div>
                <div class="source-row">
                    <div class="flexrow valign-center source-col1">
                        <label class="source-label source-element" for"system.traits.flux.value">Flux</label>
                        <input class="text-2digit source-element" type="number" name="system.traits.flux.value" value="{{system.traits.flux.value}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow valign-center source-col2">
                        <label class="source-label source-element" for"system.traits.transcendence.value">Transcendence</label>
                        <input class="text-2digit source-element" type="number" name="system.traits.transcendence.value" value="{{system.traits.transcendence.value}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </section>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="stats">{{localize "TRINITY_SECOND.SheetLabels.Attributes"}}<br>& {{localize "TRINITY_SECOND.SheetLabels.Skills"}}</a>
    <a class="item" data-tab="edges">{{localize "TRINITY_SECOND.SheetLabels.Edges"}},<br>{{localize "TRINITY_SECOND.SheetLabels.Skilltricks"}},<br>& {{localize "TRINITY_SECOND.SheetLabels.Specialties"}}</a>
    <a class="item" data-tab="powers">Mega-Edges<br>& Powers</a>
    <a class="item" data-tab="equipment">{{localize "TYPES.Item.equipment"}}</a>
    <a class="item" data-tab="effects">Health &<br>Status<br>Effects</a>
    <a class="item" data-tab="background">Character<br>Background<br> & Paths</a>
  </nav>

  {{!-- Sheet Body --}}  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab stats" data-group="primary" data-tab="stats">
        
        {{!-- Attribute Section --}}
        <h2 class="flex-group-center nova-header">{{localize "TRINITY_SECOND.SheetLabels.Attributes"}}</h2>
        <section class="">
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="flex-group-center attribute-header">
                <div class="approach"></div>
                <div class="attribute"><h3>{{localize "TRINITY_SECOND.SheetLabels.Mental"}}</h3></div>
                <div class="attribute"><h3>{{localize "TRINITY_SECOND.SheetLabels.Physical"}}</h3></div>
                <div class="attribute"><h3>{{localize "TRINITY_SECOND.SheetLabels.Social"}}</h3></div>
    {{#each system.attributes as |attribute key|}}
        {{#if attribute.row}}
            </div>
            <div class="valign-center attribute-row">
                <div class="approach flex-col valign-center">
                    <div class="approach">{{attribute.approach}}</div>
                </div>
            {{/if}}
                <div class="attribute">
                    <div class="flexrow valign-center">
                        <label class="resource-label flex-left" for="system.attributes.{{key}}.value" data-attribute="@attributes.{{key}}.value" data-roll="(@attributes.{{key}}.value)d10x=10cs>=8" data-label="{{localize (lookup @root.config.attributes key)}}">{{localize (lookup @root.config.attributes key)}}</label>
                        <input class="text-2digit" type="number" name="system.attributes.{{key}}.value" value="{{attribute.value}}" min="0" max="10" data-dtype="Number"/>
                    </div>
                    <div class="flexrow valign-center">
                        <label class="resource-label" for="system.attributes.{{key}}.megavalue" data-roll="(@attributes.{{key}}.megavalue)d10x=10cs>=8" data-label="{{localize (lookup @root.config.megaattributes key)}}">{{localize (lookup @root.config.megaattributes key)}}</label>
                        <input class="text-2digit" type="number" name="system.attributes.{{key}}.megavalue" value="{{attribute.megavalue}}" min="0" max="10" data-dtype="Number"/>
                    </div>
                </div>
    {{/each}}
            </div>
        </section>

        {{!-- Skill Section --}}
        <h2 class="flex-group-center nova-header">Skills</h2>
        <section class="grid grid-4col">
            {{#each system.skills as |skill key|}}
                <div class="skill flexrow flex-group-center" data-skill="{{key}}">
                    <label class="skill-label resource-label flexlarge align-left" for="system.skills.{{key}}.value" data-skill="@skills.{{key}}.value" data-roll="(@skills.{{key}}.value)d10x=10cs>=8" data-label="{{localize (lookup @root.config.skills key)}}">{{localize (lookup @root.config.skills key)}}</label>
                    <input class="text-2digit" type="number" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                </div>
            {{/each}}
        </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab background" data-group="primary" data-tab="background">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Edges Tab --}}
    <div class="tab edges" data-group="primary" data-tab="edges">
      {{> "systems/trinity-2e/templates/actor/parts/actor-edges.hbs"}}
    </div>

    {{!-- Owned Powers Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
      {{> "systems/trinity-2e/templates/actor/parts/actor-powers.hbs"}}
    </div>

    {{!-- Owned Equipment Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
       {{> "systems/trinity-2e/templates/actor/parts/actor-equipment.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/trinity-2e/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
