<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <input class="charname" name="system.codename" type="text" value="{{system.codename}}" placeholder="Alias"/>        
    </div>
  </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="stats">{{localize "TC.SheetLabels.Core"}}<BR>{{localize "TC.SheetLabels.Mechanics"}}</a>
        <a class="item" data-tab="powers">{{localize "TC.SheetLabels.Special"}}<BR>{{localize "TC.SheetLabels.Abilities"}}</a>
        <a class="item" data-tab="equipment">{{localize "TC.SheetLabels.Gear"}}</a>
        <a class="item" data-tab="effects">{{localize "TC.SheetLabels.Status"}}</a>
        <a class="item" data-tab="background">{{localize "TC.SheetLabels.Background"}}</a>
    </nav>

    {{!-- Sheet Body --}}  
    <section class="sheet-body">

        {{!-- Core Mechanics Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            <nav class="attribute-sheet-tabs sheet-tabs tabs" data-group="attributes">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="attributes">{{localize "TC.SheetLabels.Attributes"}} & {{localize "TC.SheetLabels.Skills"}}</a>
                <a class="item" data-tab="specialties">{{localize "TC.SheetLabels.Specialties"}}</a>
                <a class="item" data-tab="edges">{{localize "TC.SheetLabels.Edges"}}</a>
                <a class="item" data-tab="scale">{{localize "TC.SheetLabels.Scale"}}</a>
            </nav>
            <div class="attribute-sheet-body">
                {{> "systems/trinity-continuum/templates/actor/parts/actor-attributes.hbs"}}      
            </div>
        </div>

        {{!-- Background Tab --}}
        
        <div class="tab background" data-group="primary" data-tab="background">
            <nav class="background-sheet-tabs sheet-tabs tabs" data-group="backgrounds">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="paths">{{localize "TC.SheetLabels.Paths"}} & {{localize "TC.SheetLabels.Contacts"}}</a>
                <a class="item" data-tab="background">{{localize "TC.SheetLabels.Background"}}</a>
                <a class="item" data-tab="bonds">{{localize "TC.SheetLabels.Bonds"}}</a>
            </nav>
            <div class="background-sheet-body">
                <div class="tab paths" data-group="backgrounds" data-tab="paths">
                    {{> "systems/trinity-continuum/templates/actor/parts/actor-paths.hbs"}}      
                </div>
                <div class="tab background" data-group="backgrounds" data-tab="background">
                    {{> "systems/trinity-continuum/templates/actor/parts/actor-background.hbs"}}
                </div>
                <div class="tab bonds" data-group="backgrounds" data-tab="bonds">
                    {{> "systems/trinity-continuum/templates/actor/parts/actor-bonds.hbs"}}
                </div>
            </div>
        
        </div>

        {{!-- Owned Powers Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{!-- Default tab is specified in actor-sheet.mjs --}}
            {{#if (eq this.document.type 'nova')}}
                {{> "systems/trinity-continuum/templates/actor/parts/actor-novapowers.hbs"}}
            {{/if}}
        </div>

        {{!-- Owned Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <nav class="gear-sheet-tabs sheet-tabs tabs" data-group="gear">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="weapons">{{localize "TC.SheetLabels.Weapons"}}</a>
                <a class="item" data-tab="armor">{{localize "TC.SheetLabels.Armor"}}</a>
                <a class="item" data-tab="vehicles">{{localize "TC.SheetLabels.Vehicles"}}</a>
                <a class="item" data-tab="other">{{localize "TC.SheetLabels.Otheritems"}}</a>
            </nav>
            <div class="gear-sheet-body">
                {{> "systems/trinity-continuum/templates/actor/parts/actor-equipment.hbs"}}
            </div>
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <nav class="status-sheet-tabs sheet-tabs tabs" data-group="status">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="health">{{localize "TC.SheetLabels.Health"}}</a>
                <a class="item" data-tab="status">{{localize "TC.SheetLabels.Statuses"}}</a>
                <a class="item" data-tab="effects">{{localize "TC.SheetLabels.Effects"}}</a>
                <a class="item" data-tab="options">{{localize "TC.SheetLabels.Options"}}</a>
            </nav>
            <div class="status-sheet-body">
                {{> "systems/trinity-continuum/templates/actor/parts/actor-status.hbs"}}
            </div>
        </div>
    </section>
</form>
