<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <input class="charname" name="system.codename" type="text" value="{{system.codename}}" placeholder="Alias"/>        
    </div>
  </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="stats">{{localize "TC.Labels.Core"}}<BR>{{localize "TC.Labels.Mechanics"}}</a>
        {{#unless (eq this.document.type 'baseline')}}
            <a class="item" data-tab="powers">{{localize "TC.Labels.Special"}}<BR>{{localize "TC.Labels.Abilities"}}</a>
        {{/unless}}
        <a class="item" data-tab="equipment">{{localize "TC.Labels.Gear"}}</a>
        <a class="item" data-tab="effects">{{localize "TC.Labels.Status"}}</a>
        <a class="item" data-tab="background">{{localize "TC.Labels.Background"}}</a>
    </nav>

    {{!-- Sheet Body --}}  
    <section class="sheet-body">

        {{!-- Core Mechanics Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            {{> "systems/trinity-continuum/templates/actor/parts/actor-attributes.hbs"}}      
        </div>

        {{!-- Owned Powers Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{#if (eq this.document.type 'nova')}}
                {{> "systems/trinity-continuum/templates/actor/parts/actor-novapowers.hbs"}}
            {{/if}}
        </div>

        {{!-- Owned Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            {{> "systems/trinity-continuum/templates/actor/parts/actor-equipment.hbs"}}
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/trinity-continuum/templates/actor/parts/actor-status.hbs"}}
        </div>

        {{!-- Background Tab --}}
        <div class="tab background" data-group="primary" data-tab="background">
            {{> "systems/trinity-continuum/templates/actor/parts/actor-background.hbs"}}
        </div>
    </section>
</form>
