<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <input class="charname" name="system.codename" type="text" value="{{system.codename}}" placeholder="Alias"/>
      <div class="resource-section">

        {{!-- Health --}}
        <section class="health-section">
            <div class="flex-group-center">
                <h3 class="nova-header">{{localize "TRINITY_SECOND.SheetLabels.Health"}}</h3>
            </div>
            {{!-- Hard Armor --}}
            <div class="health-row">
                <label class="health-label" for="system.health.hard.filled">{{localize "TRINITY_SECOND.SheetLabels.Hard.long"}}:</label>
                <div class="health-details">
                    <input class="health-input text-2digit" type="number" name="system.health.hard.filled" value="{{system.health.hard.filled}}" data-dtype="Number"/>
                    <span class="math-label"> / </span>
                    <input class="health-input text-2digit" type="number" name="system.health.hard.quantity" value="{{system.health.hard.quantity}}" data-dtype="Number"/>
                    <span class="mod-label"><strong>{{localize "TRINITY_SECOND.SheetLabels.Mod"}}:</strong> + <input class="health-input text-2digit" readonly type="number" name="system.health.hardmod" value="0" data-dtype="Number"/></span>
                </div>
            </div>
            {{!-- Bruised --}}
            <div class="health-row">
                <label class="health-label" for="system.health.bruised.filled">{{localize "TRINITY_SECOND.SheetLabels.Bruised"}}:</label>
                <div class="health-details">
                    <input class="health-input text-2digit" type="number" name="system.health.bruised.filled" value="{{system.health.bruised.filled}}" data-dtype="Number"/>
                    <span class="math-label"> / </span>
                    <input class="health-input text-2digit" type="number" name="system.health.bruised.quantity" value="{{system.health.bruised.quantity}}" data-dtype="Number"/>
                    <span class="mod-label"><strong>{{localize "TRINITY_SECOND.SheetLabels.Mod"}}:</strong> + <input class="health-input text-2digit" type="number" name="system.health.bruised.mod" value="{{system.health.bruised.mod}}" data-dtype="Number"/></span>
                </div>
            </div>
            {{!-- Injured --}}
            <div class="health-row">
                <label class="health-label" for="system.health.injured.filled">{{localize "TRINITY_SECOND.SheetLabels.Injured"}}:</label>
                <div class="health-details">
                    <input class="health-input text-2digit" type="number" name="system.health.injured.filled" value="{{system.health.injured.filled}}" data-dtype="Number"/>
                    <span class="math-label"> / </span>
                    <input class="health-input text-2digit" type="number" name="system.health.injured.quantity" value="{{system.health.injured.quantity}}" data-dtype="Number"/>
                    <span class="mod-label"><strong>{{localize "TRINITY_SECOND.SheetLabels.Mod"}}:</strong> + <input class="health-input text-2digit" type="number" name="system.health.injured.mod" value="{{system.health.injured.mod}}" data-dtype="Number"/></span>
                </div>
            </div>
            {{!-- Maimed --}}
            <div class="health-row">
                <label class="health-label" for="system.health.maimed.filled">{{localize "TRINITY_SECOND.SheetLabels.Maimed"}}:</label>
                <div class="health-details">
                    <input class="text-2digit" type="number" name="system.health.maimed.filled" value="{{system.health.maimed.filled}}" data-dtype="Number"/>
                    <span class="math-label"> / </span>
                    <input class="text-2digit" type="number" name="system.health.maimed.quantity" value="{{system.health.maimed.quantity}}" data-dtype="Number"/>
                    <span class="mod-label"><strong>{{localize "TRINITY_SECOND.SheetLabels.Mod"}}:</strong> + <input class="health-input text-2digit" type="number" name="system.health.maimed.mod" value="{{system.health.maimed.mod}}" data-dtype="Number"/></span>
                </div>
            </div>
        </section>
        
        {{!-- Source(Quantum) and Nova Unique traits --}}
        <section class="source-section">
            <div class="flex-group-center">
                <h3 class="nova-header">{{localize "TRINITY_SECOND.SheetLabels.Novatrait"}}</h3>
            </div>
            <div class="source-column">
                <div class="source-row">
                    <div class="flexrow valign-center source-col1">
                        <label class="source-label source-element" for="system.traits.quantum.value">Quantum</label>
                        <input class="text-2digit source-element" type="text" name="system.traits.quantum.value" value="{{system.traits.quantum.value}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow valign-center source-col2">
                        <label class="source-label source-element" for="system.traits.quantumpoints.value">Quantum Points</label>
                        <input class="text-2digit source-element" type="text" name="system.traits.quantumpoints.value" value="{{system.traits.quantumpoints.value}}" data-dtype="Number"/>
                        <span class="math-label source-element"> / </span>
                        <input class="text-2digit source-element" size="4" type="text" name="system.traits.quantumpoints.max" value="{{system.traits.quantumpoints.max}}" data-dtype="Number" readonly/>
                    </div>
                </div>
                <div class="source-row">
                    <div class="flexrow valign-center source-col1">
                        <label class="source-label source-element" for"system.traits.flux.value">Flux</label>
                        <input class="text-2digit source-element" type="number" name="system.traits.flux.value" value="{{system.traits.flux.value}}" data-dtype="Number"/>
                    </div>
                    <div class="flexrow valign-center source-col2">
                        <label class="source-label source-element" for"system.traits.transcendence.value">Transcendence</label>
                        <input class="text-2digit source-element" type="number" name="system.traits.transcendence.value" value="{{system.traits.transcendence.value}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="source-row">
                    <div class="flexrow valign-center source-col1">
                        Taken Out: 
                        {{#if system.health.takenout.isfilled}}
                        <input type="checkbox" name="system.health.takenout.isfilled" value="true" checked>
                        {{else}}
                        <input type="checkbox" name="system.health.takenout.isfilled" value="false">
                        {{/if}}
                    </div>
                </div>
            </div>
        </section>
      </div>
    </div>
  </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="stats">Core Mechanics</a>
        <a class="item" data-tab="powers">Special Abilities</a>
        <a class="item" data-tab="equipment">Gear</a>
        <a class="item" data-tab="effects">Status</a>
        <a class="item" data-tab="background">Background</a>
    </nav>

    {{!-- Sheet Body --}}  
    <section class="sheet-body">

        {{!-- Core Mechanics Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            <nav class="attribute-sheet-tabs sheet-tabs tabs" data-group="attributes">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="attributes">Attributes & Skills</a>
                <a class="item" data-tab="specialties">Specialties</a>
                <a class="item" data-tab="edges">Edges</a>
                <a class="item" data-tab="scale">Scale</a>
            </nav>
            <div class="attribute-sheet-body">
                {{> "systems/trinity-2e/templates/actor/parts/actor-attributes.hbs"}}      
            </div>
        </div>

        {{!-- Background Tab --}}
        
        <div class="tab background" data-group="primary" data-tab="background">
            <nav class="background-sheet-tabs sheet-tabs tabs" data-group="backgrounds">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="paths">Paths & Contacts</a>
                <a class="item" data-tab="background">Background</a>
                <a class="item" data-tab="bonds">Bonds</a>
                <a class="item" data-tab="transformations">Transformations</a>
            </nav>
            <div class="background-sheet-body">
                <div class="tab paths" data-group="backgrounds" data-tab="paths">
                    {{> "systems/trinity-2e/templates/actor/parts/actor-paths.hbs"}}      
                </div>
                <div class="tab background" data-group="backgrounds" data-tab="background">
                    {{> "systems/trinity-2e/templates/actor/parts/actor-background.hbs"}}
                </div>
                <div class="tab bonds" data-group="backgrounds" data-tab="bonds">
                    {{> "systems/trinity-2e/templates/actor/parts/actor-bonds.hbs"}}
                </div>
                <div class="tab transformations" data-group="backgrounds" data-tab="transformations">
                    {{> "systems/trinity-2e/templates/actor/parts/actor-transformations.hbs"}}
                </div>
            </div>
        
        </div>

        {{!-- Owned Powers Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{!-- Default tab is specified in actor-sheet.mjs --}}
            <nav class="power-sheet-tabs sheet-tabs tabs" data-group="powers">
                <a class="item" data-tab="qpowers">Quantum Powers</a>
                <a class="item" data-tab="megaedges">Mega Edges</a>
                <a class="item" data-tab="skilltricks">Skill Tricks</a>
                <a class="item" data-tab="options">Options</a>
            </nav>
            <div class="power-sheet-body">
                {{> "systems/trinity-2e/templates/actor/parts/actor-powers.hbs"}}
            </div>
        </div>

        {{!-- Owned Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <nav class="gear-sheet-tabs sheet-tabs tabs" data-group="gear">
                {{!-- Default tab is specified in actor-sheet.mjs --}}
                <a class="item" data-tab="weapons">Weapons</a>
                <a class="item" data-tab="armor">Armor</a>
                <a class="item" data-tab="vehicles">Vehicles</a>
                <a class="item" data-tab="other">Other Items</a>
            </nav>
            <div class="gear-sheet-body">
                {{> "systems/trinity-2e/templates/actor/parts/actor-equipment.hbs"}}
            </div>
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/trinity-2e/templates/actor/parts/actor-effects.hbs"}}
        </div>

    </section>
</form>
