<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
          <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Soft.long"}}</label>
          <input
            type='text'
            name='system.armor.soft'
            value='{{system.armor.soft}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Hard.long"}}</label>
          <input
            type='text'
            name='system.armor.hard'
            value='{{system.armor.hard}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Enhancement"}}</label>
          <input
            type='text'
            name='system.armor.enhancement'
            value='{{system.armor.enhancement}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Scale.Technology"}}</label>
          <input
            type='text'
            name='system.armor.techscale'
            value='{{system.armor.techscale}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Size"}}</label>
          <input
            type='text'
            name='system.armor.size'
            value='{{system.armor.size}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Cost"}}</label>
          <input
            type='text'
            name='system.armor.cost'
            value='{{system.armor.cost}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.ScienceType"}}</label>
          <input
            type='text'
            name='system.armor.sciencetype'
            value='{{system.armor.sciencetype}}'
            data-dtype='Text'
            list='inventiontype'
          />
          <datalist id="inventiontype">
            <option value="{{localize 'TRINITY_SECOND.Science.Mundane'}}">{{localize 'TRINITY_SECOND.Science.Mundane'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Advanced'}}">{{localize 'TRINITY_SECOND.Science.Advanced'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Inspired'}}">{{localize 'TRINITY_SECOND.Science.Inspired'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Powered'}}">{{localize 'TRINITY_SECOND.Science.Powered'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Core'}}">{{localize 'TRINITY_SECOND.Science.Core'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Nova'}}">{{localize 'TRINITY_SECOND.Science.Nova'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Q'}}">{{localize 'TRINITY_SECOND.Science.Q'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Module'}}">{{localize 'TRINITY_SECOND.Science.Module'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Artifact'}}">{{localize 'TRINITY_SECOND.Science.Artifact'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Enigma'}}">{{localize 'TRINITY_SECOND.Science.Enigma'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Aetheric'}}">{{localize 'TRINITY_SECOND.Science.Aetheric'}}</option>
            <option value="{{localize 'TRINITY_SECOND.Science.Mystic'}}">{{localize 'TRINITY_SECOND.Science.Mystic'}}</option>
          </datalist>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.TechCat"}}</label>
          <input
            type='text'
            name='system.armor.category'
            value='{{system.armor.category}}'
            data-dtype='Text'
            list='inventioncategory'
          />
          <datalist id="inventioncategory">
            <option value="{{localize 'TRINITY_SECOND.TechCategory.Device'}}">{{localize 'TRINITY_SECOND.TechCategory.Device'}}</option>
            <option value="{{localize 'TRINITY_SECOND.TechCategory.Organism'}}">{{localize 'TRINITY_SECOND.TechCategory.Organism'}}</option>
            <option value="{{localize 'TRINITY_SECOND.TechCategory.Compound'}}">{{localize 'TRINITY_SECOND.TechCategory.Compound'}}</option>
            <option value="{{localize 'TRINITY_SECOND.TechCategory.Enigma'}}">{{localize 'TRINITY_SECOND.TechCategory.Enigma'}}</option>
            <option value="{{localize 'TRINITY_SECOND.TechCategory.Cybernetic'}}">{{localize 'TRINITY_SECOND.TechCategory.Cybernetic'}}</option>
            <option value="{{localize 'TRINITY_SECOND.TechCategory.Bioware'}}">{{localize 'TRINITY_SECOND.TechCategory.Bioware'}}</option>
            <option value="{{localize 'TRINITY_SECOND.TechCategory.Noetic'}}">{{localize 'TRINITY_SECOND.TechCategory.Noetic'}}</option>            
          </datalist>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TRINITY_SECOND.SheetLabels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TRINITY_SECOND.SheetLabels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      <h3>{{localize "TRINITY_SECOND.SheetLabels.Tags"}}</h3>
      <div class='resource'>
        <input
          type='text'
          name='system.armor.tags'
          value='{{system.armor.tags}}'
          data-dtype='Text'
        />
      </div>
      <h3 class="description added-segment">{{localize "TRINITY_SECOND.SheetLabels.Description"}}</h3>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.armor.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Number of Dice</label>
            <input
              type='text'
              name='system.roll.diceNum'
              value='{{system.roll.diceNum}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Die Size</label>
            <input
              type='text'
              name='system.roll.diceSize'
              value='{{system.roll.diceSize}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-2'>
            <label class='resource-label'>Roll Modifier</label>
            <input
              type='text'
              name='system.roll.diceBonus'
              value='{{system.roll.diceBonus}}'
              data-dtype='String'
            />
          </div>
        </div>

      </div>
    </div>
  </section>
</form>