<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      
      <div class="resource-text">
          <label>{{localize "TC.Labels.Resolution"}}</label><br>
            <input
              type='text'
              name='system.resolution'
              value='{{system.resolution}}'
              data-dtype='String'
            />
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Effect.Effect"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.Labels.Attributes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.effect'
        engine='prosemirror'
        button=false
        editable=true
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>