<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-1col'>
        <div class='resource-text'>
          <label class='resource-label'>Skill</label>
          <input
            type='text'
            name='system.skill'
            value='{{system.skill}}'
            data-dtype='String'
            list='skillslist'
          />
          <datalist id='skillslist'>
              <option value="{{localize 'TC.Skill.Aim.long'}}">{{localize 'TC.Skill.Aim.long'}}</option>
              <option value="{{localize 'TC.Skill.Ath.long'}}">{{localize 'TC.Skill.Ath.long'}}</option>
              <option value="{{localize 'TC.Skill.Clo.long'}}">{{localize 'TC.Skill.Clo.long'}}</option>
              <option value="{{localize 'TC.Skill.Com.long'}}">{{localize 'TC.Skill.Com.long'}}</option>
              <option value="{{localize 'TC.Skill.Cul.long'}}">{{localize 'TC.Skill.Cul.long'}}</option>
              <option value="{{localize 'TC.Skill.Emp.long'}}">{{localize 'TC.Skill.Emp.long'}}</option>
              <option value="{{localize 'TC.Skill.Eni.long'}}">{{localize 'TC.Skill.Eni.long'}}</option>
              <option value="{{localize 'TC.Skill.Hum.long'}}">{{localize 'TC.Skill.Hum.long'}}</option>
              <option value="{{localize 'TC.Skill.Int.long'}}">{{localize 'TC.Skill.Int.long'}}</option>
              <option value="{{localize 'TC.Skill.Lar.long'}}">{{localize 'TC.Skill.Lar.long'}}</option>
              <option value="{{localize 'TC.Skill.Med.long'}}">{{localize 'TC.Skill.Med.long'}}</option>
              <option value="{{localize 'TC.Skill.Per.long'}}">{{localize 'TC.Skill.Per.long'}}</option>
              <option value="{{localize 'TC.Skill.Pil.long'}}">{{localize 'TC.Skill.Pil.long'}}</option>
              <option value="{{localize 'TC.Skill.Sci.long'}}">{{localize 'TC.Skill.Sci.long'}}</option>
              <option value="{{localize 'TC.Skill.Sur.long'}}">{{localize 'TC.Skill.Sur.long'}}</option>
              <option value="{{localize 'TC.Skill.Tec.long'}}">{{localize 'TC.Skill.Tec.long'}}</option>
          </datalist>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.SheetLabels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.SheetLabels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='tab attributes' data-group='primary' data-tab='attributes'>
        {{! As you add new fields, add them in here! }}
        {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
      </div>
    </div>
  </section>
</form>