<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.QMin"}}</label>
          <input
            type='text'
            name='system.quantumpower.qminimum'
            value='{{system.quantumpower.qminimum}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Action"}}</label>
          <input
            type='text'
            name='system.quantumpower.action'
            value='{{system.quantumpower.action}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Cost"}}</label>
          <input
            type='text'
            name='system.quantumpower.cost'
            value='{{system.quantumpower.cost}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Dice"}}</label>
          <input
            type='text'
            name='system.quantumpower.dicepool'
            value='{{system.quantumpower.dicepool}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Range"}}</label>
          <input
            type='text'
            name='system.quantumpower.range'
            value='{{system.quantumpower.range}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Duration"}}</label>
          <input
            type='text'
            name='system.quantumpower.duration'
            value='{{system.quantumpower.duration}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Rating"}}</label>
          <input
            type='text'
            name='system.quantumpower.rating'
            value='{{system.quantumpower.rating}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Maxed"}}</label>    
          {{#if system.quantumpower.maxedout}}
            <input type="checkbox" name="system.quantumpower.maxedout" value="true" checked>
          {{else}}
            <input type="checkbox" name="system.quantumpower.maxedout" value="false">
          {{/if}}
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Suite"}}</label>
          <input
            type='text'
            list="suite-choices"
            name='system.suite'
            value='{{system.suite}}'
            data-dtype='String'
          />
          <datalist id="suite-choices">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="None">None</option>
          </datalist>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TRINITY_SECOND.Power.Description"}}</a>
    <a class='item' data-tab='tags'>{{localize "TRINITY_SECOND.Power.TagD"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TRINITY_SECOND.SheetLabels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>  
      <h3 class="description added-segment">{{localize "TRINITY_SECOND.Power.Description"}}</h3>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.quantumpower.description'
          engine='prosemirror'
          button=true
          editable=editable
        }}
      </div>
    </div>

    {{! Tags Tab }}
    <div class='tab' data-tab='tags'>  
      <h3>{{localize "TRINITY_SECOND.Power.Tags"}}</h3>
      <div class="resource">
        <input
          type='text'
          name='system.quantumpower.tags'
          value='{{system.quantumpower.tags}}'
          data-dtype='String'
        />
      </div>
      <h3 class="description">{{localize "TRINITY_SECOND.Power.TagD"}}</h3>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.quantumpower.tagdescription'
          engine='prosemirror'
          button=true
          editable=editable
        }}
    </div>
    
    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Number of Dice</label>
            <input
              type='text'
              name='system.roll.diceNum'
              value='{{system.roll.diceNum}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Die Size</label>
            <input
              type='text'
              name='system.roll.diceSize'
              value='{{system.roll.diceSize}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-2'>
            <label class='resource-label'>Roll Modifier</label>
            <input
              type='text'
              name='system.roll.diceBonus'
              value='{{system.roll.diceBonus}}'
              data-dtype='String'
            />
          </div>
        </div>

      </div>
    </div>
  </section>
</form>