<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='{{localize "TYPES.Item.edge"}}'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Rating"}}</label>
          <input
            type='text'
            class="text-5digit"
            name='system.rating'
            value='{{system.rating}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text grid-span-2'>
          <label class='resource-label'>{{localize "TC.Labels.Category"}}</label>
          <input type="text" list="edgeCategories" name="system.category" value="{{system.category}}" data-dtype="Text">
          <datalist id="edgeCategories">
            <option value="{{localize "TC.Edge.Type.Men"}}">{{localize "TC.Edge.Type.Men"}}</option>
            <option value="{{localize "TC.Edge.Type.Phy"}}">{{localize "TC.Edge.Type.Phy"}}</option>
            <option value="{{localize "TC.Edge.Type.Soc"}}">{{localize "TC.Edge.Type.Soc"}}</option>
            <option value="{{localize "TC.Edge.Type.Sty"}}">{{localize "TC.Edge.Type.Sty"}}</option>
            <option value="{{localize "TC.Edge.Type.Com"}}">{{localize "TC.Edge.Type.Com"}}</option>
            <option value="{{localize "TC.Edge.Type.Pat"}}">{{localize "TC.Edge.Type.Pat"}}</option>
            <option value="{{localize "TC.Edge.Type.Pow"}}">{{localize "TC.Edge.Type.Pow"}}</option>
            <option value="{{localize "TC.Edge.Type.Enh"}}">{{localize "TC.Edge.Type.Enh"}}</option>
            <option value="{{localize "TC.Edge.Type.Nov"}}">{{localize "TC.Edge.Type.Nov"}}</option>
          </datalist>
        </div>
        <div class="resource-text grid-span-2">
          <label class="resource-label">{{localize "TC.Labels.Prereq"}}</label>
          <input type="text" data-dtype="Text" name="system.prereq" value="{{system.prereq}}"><br>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Labels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.Labels.Attributes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=false
        editable=true
      }}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>