<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='{{localize "TYPES.Item.edge"}}'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Rating"}}</label>
          <input
            type='text'
            name='system.edge.rating'
            value='{{system.edge.rating}}'
            data-dtype='String'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>Category</label>
          <input type="text" list="edgeCategories" name="system.edge.category" value="{{system.edge.category}}" data-dtype="Text">
          <datalist id="edgeCategories">
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Men"}}">{{localize "TRINITY_SECOND.Edge.Type.Men"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Phy"}}">{{localize "TRINITY_SECOND.Edge.Type.Phy"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Soc"}}">{{localize "TRINITY_SECOND.Edge.Type.Soc"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Sty"}}">{{localize "TRINITY_SECOND.Edge.Type.Sty"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Com"}}">{{localize "TRINITY_SECOND.Edge.Type.Com"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Pat"}}">{{localize "TRINITY_SECOND.Edge.Type.Pat"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Pow"}}">{{localize "TRINITY_SECOND.Edge.Type.Pow"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Enh"}}">{{localize "TRINITY_SECOND.Edge.Type.Enh"}}</option>
            <option value="{{localize "TRINITY_SECOND.Edge.Type.Nov"}}">{{localize "TRINITY_SECOND.Edge.Type.Nov"}}</option>
          </datalist>
        </div>
      </div>
      <div>
        <div><label class="resource-label">{{localize "TRINITY_SECOND.SheetLabels.Prereq"}}</label><input type="text" data-dtype="Text" name="system.edge.prereq" value="{{system.edge.prereq}}"><br>
        </div>
      </div>
      
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TRINITY_SECOND.SheetLabels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TRINITY_SECOND.SheetLabels.Attributes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/trinity-2e/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>