<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-1col'>
        <div class='resource'>
          <label class='resource-label'>Skill</label>
          <input
            type='text'
            name='system.specialty.skill'
            value='{{system.specialty.skill}}'
            data-dtype='Text'
            list='skillslist'
          />
          <datalist id='skillslist'>
              <option value="{{localize 'TRINITY_SECOND.Skill.Aim.long'}}">{{localize 'TRINITY_SECOND.Skill.Aim.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Ath.long'}}">{{localize 'TRINITY_SECOND.Skill.Ath.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Clo.long'}}">{{localize 'TRINITY_SECOND.Skill.Clo.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Com.long'}}">{{localize 'TRINITY_SECOND.Skill.Com.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Cul.long'}}">{{localize 'TRINITY_SECOND.Skill.Cul.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Emp.long'}}">{{localize 'TRINITY_SECOND.Skill.Emp.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Eni.long'}}">{{localize 'TRINITY_SECOND.Skill.Eni.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Hum.long'}}">{{localize 'TRINITY_SECOND.Skill.Hum.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Int.long'}}">{{localize 'TRINITY_SECOND.Skill.Int.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Lar.long'}}">{{localize 'TRINITY_SECOND.Skill.Lar.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Med.long'}}">{{localize 'TRINITY_SECOND.Skill.Med.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Per.long'}}">{{localize 'TRINITY_SECOND.Skill.Per.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Pil.long'}}">{{localize 'TRINITY_SECOND.Skill.Pil.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Sci.long'}}">{{localize 'TRINITY_SECOND.Skill.Sci.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Sur.long'}}">{{localize 'TRINITY_SECOND.Skill.Sur.long'}}</option>
              <option value="{{localize 'TRINITY_SECOND.Skill.Tec.long'}}">{{localize 'TRINITY_SECOND.Skill.Tec.long'}}</option>
          </datalist>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Rating"}}</label>
          <input
            type='text'
            name='system.specialty.rating'
            value='{{system.specialty.rating}}'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TRINITY_SECOND.SheetLabels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TRINITY_SECOND.SheetLabels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Number of Dice</label>
            <input
              type='text'
              name='system.roll.diceNum'
              value='{{system.roll.diceNum}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Die Size</label>
            <input
              type='text'
              name='system.roll.diceSize'
              value='{{system.roll.diceSize}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-2'>
            <label class='resource-label'>Roll Modifier</label>
            <input
              type='text'
              name='system.roll.diceBonus'
              value='{{system.roll.diceBonus}}'
              data-dtype='String'
            />
          </div>
        </div>

      </div>
    </div>
  </section>
</form>