<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Rating"}}</label>
          <input
            type='text'
            class="text-2digit"
            name='system.rating'
            value='{{system.rating}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Maxed"}}</label>
          {{#if system.maxedout}}
            <input type="checkbox" class="medium-check" name="system.maxedout" value="true" checked data-dtype="Boolean"/>
          {{else}}
            <input type="checkbox" class="medium-check" name="system.maxedout" value="false" data-dtype="Boolean"/>
          {{/if}}
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TRINITY_SECOND.SheetLabels.Description"}}</a>
    <a class='item' data-tab='tags'>{{localize "TRINITY_SECOND.SheetLabels.Tags"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TRINITY_SECOND.SheetLabels.Attributes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      <div class='resource-text'>
        <h3>{{localize "TRINITY_SECOND.SheetLabels.Prereq"}}</h3>
        <input
          type='text'
          name='system.prereq'
          value='{{system.prereq}}'
          data-dtype='String'
        />
      </div>
      <h3 class="added-segment">{{localize "TRINITY_SECOND.SheetLabels.Description"}}</h3>
      <div>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
      </div>
    </div>

    {{! Tags Tab }}
    <div class='tab' data-tab='tags'>  
      <h3>{{localize "TRINITY_SECOND.SheetLabels.Tags"}}</h3>
      <div class="resource-text">
        <input
          type='text'
          name='system.tags'
          value='{{system.tags}}'
          data-dtype='String'
        />
      </div>
      <h3 class="description added-segment">{{localize "TRINITY_SECOND.Power.TagD"}}</h3>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.tagdescription'
          engine='prosemirror'
          button=true
          editable=editable
        }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      {{> "systems/trinity-2e/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>