<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Currentrating"}}</label>
          <input
            type='text'
            class="text-2digit"
            name='system.rating.value'
            value='{{system.rating.value}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Rating"}}</label>
          <input
            type='text'
            class="text-2digit"
            name='system.rating.max'
            value='{{system.rating.max}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Revoked"}}</label>    
          <input type="checkbox" name="system.revoked" value="true" {{checked system.revoked}}>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Suspended"}}</label>    
          <input type="checkbox" name="system.suspended" value="true" {{checked system.suspended}}>
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Labels.Pathtype"}}</label>
          <input
            type='text'
            name='system.type'
            list='path-types'
            value='{{system.type}}'
            data-dtype='String'
          />
          <datalist id="path-types">
            <option value="Origin">{{localize "TC.Labels.Origin"}}</option>
            <option value="Role">{{localize "TC.Labels.Role"}}</option>
            <option value="Society">{{localize "TC.Labels.Society"}}</option>
            <option value="Additional Path 1">{{localize "TC.Labels.Additional1"}}</option>
            <option value="Additional Path 2">{{localize "TC.Labels.Additional2"}}</option>
          </datalist>
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Labels.Community"}}</label>
          <input
            type='text'
            name='system.community'
            value='{{system.community}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Labels.Access"}}</label>
          <input
            type='text'
            name='system.access'
            value='{{system.access}}'
            data-dtype='String'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Labels.Description"}}</a>
    <a class='item' data-tab='options'>{{localize "TC.Labels.Options"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.Labels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Description Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=false
        editable=true
      }}
    </div>

    {{! Options Tab }}
    <div class='tab' data-group='primary' data-tab='options'>
      <h3>{{localize "TC.Labels.Skills"}}</h3>
      <div class='resource-text'>
        <input
          type='text'
          name='system.skills'
          value='{{system.skills}}'
          data-dtype='String'
        />
      </div>
      <h3 class="added-segment">{{localize "TC.Labels.Edges"}}</h3>
      <div class='resource'>
        <input
          type='text'
          name='system.edges'
          value='{{system.edges}}'
          data-dtype='String'
        />
      </div>
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
        {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>