<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class="grid grid-3col">
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Power.Rating"}}</label>
          <input
            type='text'
            class='text-2digit'
            name='system.rating'
            value='{{system.rating}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Power.Cost"}}</label>
          <input
            type='text'
            class='text-5digit'
            name='system.cost'
            value='{{system.cost}}'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Power.Maxed"}}</label>    
          <input type="checkbox" class='medium-check' name="system.maxedout" {{checked system.maxedout}}>
        </div>
      </div>
      <div class='grid grid-2col'>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Power.QMin"}}</label>
          <input
            type='text'
            name='system.qminimum'
            value='{{system.qminimum}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Power.Action"}}</label>
          <input
            type='text'
            name='system.action'
            value='{{system.action}}'
            list='action-type'
            data-dtype='String'
          />
          <datalist id="action-type">
            <option value="{{localize "TC.Labels.Ordinary"}}">{{localize "TC.Labels.Ordinary"}}</option>
            <option value="{{localize "TC.Labels.Reflexive"}}">{{localize "TC.Labels.Reflexive"}}</option>
          </datalist>
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Power.Dice"}}</label>
          <input
            type='text'
            name='system.dicepool'
            value='{{system.dicepool}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Power.Range"}}</label>
          <input
            type='text'
            name='system.range'
            value='{{system.range}}'
            list="range-scale"
            data-dtype='String'
          />
          <datalist id="range-scale">
            <option value="Personal">Personal</option>
            <option value="Close">Close</option>
            <option value="Short">Short</option>
            <option value="Medium">Medium</option>
            <option value="Long">Long</option>
            <option value="Extreme">Extreme</option>
          </datalist>
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Power.Duration"}}</label>
          <input
            type='text'
            name='system.duration'
            value='{{system.duration}}'
            list="duration-scale"
            data-dtype='String'
          />
          <datalist id="duration-scale">
            <option value="Instant">Instant</option>
            <option value="Concentration">Concentration</option>
            <option value="Maintained">Maintained</option>
            <option value="Continuous (Rounds)">Continuous (Rounds)</option>
            <option value="Continuous (Minutes)">Continuous (Minutes)</option>
            <option value="Continuous (Hours)">Continuous (Hours)</option>
            <option value="Continuous (Days)">Continuous (Days)</option>
          </datalist>
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Power.Suite"}}</label>
          <input
            type='text'
            list="suite-choices"
            name='system.suite'
            value='{{system.suite}}'
            data-dtype='String'
          />
          <datalist id="suite-choices">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="None">None</option>
          </datalist>
        </div>
        <div class="resource-text grid-span-2">
          <label class="resource-label">{{localize "TC.Power.Tags"}}</label><br>
          <input
            type='text'
            name='system.tags'
            value='{{system.tags}}'
            data-dtype='String'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Power.Description"}}</a>
    <a class='item' data-tab='tags'>{{localize "TC.Power.TagD"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.Labels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Description Tab }}
    <div class='tab description quantum-description' data-group='primary' data-tab='description'>  
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.description'
          engine='prosemirror'
          button=false
          editable=true
        }}
    </div>

    {{! Tags Tab }}
    <div class='tab tags' data-tab='tags'>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.tagdescription'
          engine='prosemirror'
          button=false
          editable=true
        }}
    </div>
    
    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>