<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource-text grid-span-2'>
          <label class='resource-label'>{{localize "TC.Labels.Keywords"}}</label>
          <input
            type='text'
            name='system.keywords'
            value='{{system.keywords}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text grid-span-2'>
          <label class='resource-label'>{{localize "TC.Labels.Prereq"}}</label>
          <input
            type='text'
            name='system.prereq'
            value='{{system.prereq}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text grid-span-2'>
          <label class='resource-label'>{{localize "TC.Labels.Types"}}</label>
          <input
            type='text'
            name='system.type'
            value='{{system.type}}'
            data-dtype='String'
            list="type-list"
          />
          <datalist id='type-list'>
            <option value="{{localize 'TC.Labels.Luck'}}">{{localize 'TC.Labels.Luck'}}</option>
            <option value="{{localize 'TC.Labels.Path'}}">{{localize 'TC.Labels.Path'}}</option>
            <option value="{{localize 'TC.Attribute.Com.long'}}">{{localize 'TC.Attribute.Com.long'}}</option>
            <option value="{{localize 'TC.Attribute.Cun.long'}}">{{localize 'TC.Attribute.Cun.long'}}</option>
            <option value="{{localize 'TC.Attribute.Dex.long'}}">{{localize 'TC.Attribute.Dex.long'}}</option>
            <option value="{{localize 'TC.Attribute.Int.long'}}">{{localize 'TC.Attribute.Int.long'}}</option>
            <option value="{{localize 'TC.Attribute.Man.long'}}">{{localize 'TC.Attribute.Man.long'}}</option>
            <option value="{{localize 'TC.Attribute.Mig.long'}}">{{localize 'TC.Attribute.Mig.long'}}</option>
            <option value="{{localize 'TC.Attribute.Pre.long'}}">{{localize 'TC.Attribute.Pre.long'}}</option>
            <option value="{{localize 'TC.Attribute.Res.long'}}">{{localize 'TC.Attribute.Res.long'}}</option>
            <option value="{{localize 'TC.Attribute.Sta.long'}}">{{localize 'TC.Attribute.Sta.long'}}</option>
            <option value="{{localize 'TC.Skill.Aim.long'}}">{{localize 'TC.Skill.Aim.long'}}</option>
            <option value="{{localize 'TC.Skill.Ath.long'}}">{{localize 'TC.Skill.Ath.long'}}</option>
            <option value="{{localize 'TC.Skill.Clo.long'}}">{{localize 'TC.Skill.Clo.long'}}</option>
            <option value="{{localize 'TC.Skill.Com.long'}}">{{localize 'TC.Skill.Com.long'}}</option>
            <option value="{{localize 'TC.Skill.Cul.long'}}">{{localize 'TC.Skill.Cul.long'}}</option>
            <option value="{{localize 'TC.Skill.Emp.long'}}">{{localize 'TC.Skill.Emp.long'}}</option>
            <option value="{{localize 'TC.Skill.Eni.long'}}">{{localize 'TC.Skill.Eni.long'}}</option>
            <option value="{{localize 'TC.Skill.Hum.long'}}">{{localize 'TC.Skill.Hum.long'}}</option>
            <option value="{{localize 'TC.Skill.Int.long'}}">{{localize 'TC.Skill.Int.long'}}</option>
            <option value="{{localize 'TC.Skill.Lar.long'}}">{{localize 'TC.Skill.Lar.long'}}</option>
            <option value="{{localize 'TC.Skill.Med.long'}}">{{localize 'TC.Skill.Med.long'}}</option>
            <option value="{{localize 'TC.Skill.Per.long'}}">{{localize 'TC.Skill.Per.long'}}</option>
            <option value="{{localize 'TC.Skill.Pil.long'}}">{{localize 'TC.Skill.Pil.long'}}</option>
            <option value="{{localize 'TC.Skill.Sci.long'}}">{{localize 'TC.Skill.Sci.long'}}</option>
            <option value="{{localize 'TC.Skill.Sur.long'}}">{{localize 'TC.Skill.Sur.long'}}</option>
            <option value="{{localize 'TC.Skill.Tec.long'}}">{{localize 'TC.Skill.Tec.long'}}</option>
          </datalist>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Labels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.Labels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=false
        editable=true
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>