<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Rating"}}</label>
          <input
            type='text'
            class='text-2digit'
            name='system.rating'
            value='{{system.rating}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Cost"}}</label>
          <input
            type='text'
            class='text-2digit'
            name='system.cost'
            value='{{system.cost}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.QMin"}}</label>
          <input
            type='text'
            name='system.qminimum'
            value='{{system.qminimum}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Action"}}</label>
          <input
            type='text'
            name='system.action'
            value='{{system.action}}'
            list='action-type'
            data-dtype='String'
          />
          <datalist id="action-type">
            <option value="Ordinary">{{localize "TRINITY_SECOND.SheetLabels.Ordinary"}}</option>
            <option value="Reflexive">{{localize "TRINITY_SECOND.SheetLabels.Reflexive"}}</option>
          </datalist>
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Dice"}}</label>
          <input
            type='text'
            name='system.dicepool'
            value='{{system.dicepool}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Range"}}</label>
          <input
            type='text'
            name='system.range'
            value='{{system.range}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Duration"}}</label>
          <input
            type='text'
            name='system.duration'
            value='{{system.duration}}'
            data-dtype='String'
          />
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Suite"}}</label>
          <input
            type='text'
            list="suite-choices"
            name='system.suite'
            value='{{system.suite}}'
            data-dtype='String'
          />
          <datalist id="suite-choices">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="None">None</option>
          </datalist>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.Power.Maxed"}}</label>    
          {{#if system.maxedout}}
            <input type="checkbox" class='medium-check' name="system.maxedout" value="true" checked>
          {{else}}
            <input type="checkbox" class='medium-check' name="system.maxedout" value="false">
          {{/if}}
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TRINITY_SECOND.Power.Description"}}</a>
    <a class='item' data-tab='tags'>{{localize "TRINITY_SECOND.Power.TagD"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TRINITY_SECOND.SheetLabels.Game"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>  
      <h3 class="description added-segment">{{localize "TRINITY_SECOND.Power.Description"}}</h3>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.description'
          engine='prosemirror'
          button=true
          editable=editable
        }}
      </div>
    </div>

    {{! Tags Tab }}
    <div class='tab' data-tab='tags'>  
      <h3>{{localize "TRINITY_SECOND.Power.Tags"}}</h3>
      <div class="resource">
        <input
          type='text'
          name='system.tags'
          value='{{system.tags}}'
          data-dtype='String'
        />
      </div>
      <h3 class="description">{{localize "TRINITY_SECOND.Power.TagD"}}</h3>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{editor
          enrichedDescription
          target='system.tagdescription'
          engine='prosemirror'
          button=true
          editable=editable
        }}
    </div>
    
    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      {{> "systems/trinity-2e/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>