<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Wound"}}</label>
          <input
            type='text'
            name='system.injury.wound'
            value='{{system.injury.wound}}'
            list='wound-type'
            data-dtype='String'
          />
          <datalist id="wound-type">
            <option value="Bruised">Bruised</option>
            <option value="Injured">Injured</option>
            <option value="Maimed">Maimed</option>
          </datalist>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Firstaid"}}</label>
          {{#if system.injury.firstaid}}
            <input type="checkbox" name="system.injury.firstaid" value="true" checked data-dtype="Boolean"/>
          {{else}}
            <input type="checkbox" name="system.injury.firstaid" value="false" data-dtype="Boolean"/>
          {{/if}}
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TRINITY_SECOND.SheetLabels.Woundsource"}}</label>
          <input
            type='text'
            name='system.injury.source'
            value='{{system.injury.source}}'
            data-dtype='String'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TRINITY_SECOND.SheetLabels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TRINITY_SECOND.SheetLabels.Attributes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      <h3 class="added-segment">{{localize "TRINITY_SECOND.SheetLabels.Effect"}}</h3>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.contact.effect'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Number of Dice</label>
            <input
              type='text'
              name='system.roll.diceNum'
              value='{{system.roll.diceNum}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Die Size</label>
            <input
              type='text'
              name='system.roll.diceSize'
              value='{{system.roll.diceSize}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-2'>
            <label class='resource-label'>Roll Modifier</label>
            <input
              type='text'
              name='system.roll.diceBonus'
              value='{{system.roll.diceBonus}}'
              data-dtype='String'
            />
          </div>
        </div>

      </div>
    </div>
  </section>
</form>