<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Labels.Wound"}}</label>
          <input
            type='text'
            name='system.wound'
            value='{{system.wound}}'
            list='wound-type'
            data-dtype='String'
          />
          <datalist id="wound-type">
            <option value="Armor">{{localize "TC.Labels.Armor"}}</option>
            <option value="Bruised">{{localize "TC.Labels.Bruised"}}</option>
            <option value="Injured">{{localize "TC.Labels.Injured"}}</option>
            <option value="Maimed">{{localize "TC.Labels.Maimed"}}</option>
          </datalist>
        </div>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Labels.Woundsource"}}</label>
          <input
            type='text'
            name='system.source'
            value='{{system.source}}'
            data-dtype='String'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Firstaid"}}</label>
          <input type="checkbox" class="medium-check" name="system.firstaid" {{checked system.firstaid}}/>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Labels.Effect"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.Labels.Attributes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
      
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.effect'
        engine='prosemirror'
        button=false
        editable=true
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>