<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-3col'>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Rating"}}</label>
          <input
            type='text'
            class="text-5digit"
            name='system.rating'
            value='{{system.rating}}'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Power.Maxed"}}</label>
          <input type="checkbox" class="medium-check" name="system.maxedout" {{checked system.maxedout}} data-dtype="Boolean"/>
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize "TC.Labels.Permanent"}}</label>
          <input type="checkbox" class="medium-check" name="system.permanent" {{checked system.permanent}} data-dtype="Boolean"/>
        </div>
      </div>
      <div class='grid grid-2col'>
        <div class='resource-text grid-span-2'>
          <label class="resource-label">{{localize "TC.Labels.Prereq"}}</label><br>
          <input
            type='text'
            name='system.prereq'
            value='{{system.prereq}}'
            data-dtype='String'
          />
        </div>
        <div class="resource-text grid-span-2">
          <label class="resource-label">{{localize "TC.Labels.Tags"}}</label>
          <input
            type='text'
            name='system.tags'
            value='{{system.tags}}'
            data-dtype='String'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Labels.Description"}}</a>
    <a class='item' data-tab='tags'>{{localize "TC.Labels.Tags"}}</a>
    <a class='item' data-tab='attributes'>{{localize "TC.Labels.Attributes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
    {{! Editors must receive enriched text data from getData to properly handle rolls }}
    {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=false
      editable=true
    }}
    </div>

    {{! Tags Tab }}
    <div class='tab tags' data-tab='tags'>  
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.tagdescription'
        engine='prosemirror'
        button=false
        editable=true
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      {{> "systems/trinity-continuum/templates/item/parts/item-attributes.hbs"}}
    </div>
  </section>
</form>