<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-1col'>
        <div class='resource-text'>
          <label class='resource-label'>{{localize "TC.Labels.Level"}}</label>
          <input
            type='text'
            name='system.level'
            value='{{system.level}}'
            data-dtype='String'
            list="transformation-level"
          />
          <datalist id="transformation-level">
            <option value="Low-Level">{{localize "TC.Labels.Lowl"}}</option>
            <option value="Mid-Level">{{localize "TC.Labels.Midl"}}</option>
            <option value="High-Level">{{localize "TC.Labels.Highl"}}</option>
          </datalist>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "TC.Labels.Description"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>